{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Settings{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Content</h2>

    <div class="row">
        <div class="col-sm-2" id="actor"></div>
        <div class="col-sm-2" id="action"></div>
        <div class="col-sm-2" id="object"></div>
        <div class="col-sm-2" id="technology"></div>
        <div class="col-sm-2" id="industry"></div>
    </div>


<script type="text/javascript">

    function del(type, id){
        $.ajax({
            url: '/api/'+type+"/"+id,
            type: 'DELETE',
            success: function(result) {
                update_lists();
            }
        });
    }

    function insert(type){
        content = $('#insert_'+type).val();

        if(content == "" || content == undefined){
            alert("Field for "+type+" is empty");
            return;
        }


        $.ajax({
            type: "POST",
            url: "/api/"+type,
            data: JSON.stringify({name:content}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data){
                update_lists();
            },
            error: function(errMsg) {
                alert(errMsg);
            }
        });
    }   

    function clean(type){
        $('#'+type).html('<h3>'+type+'</h3>');
        $('#'+type).append('<input type="text" id="insert_'+type+'" style="width:80%;margin-left:0"></input>');
        $('#'+type).append('<span onClick="javascript:insert(\''+type+'\');" style="color:green;cursor:pointer;font-weight:bold;font-size:2em;vertical-align:middle;padding-left:5px;">+</span>');
    }

    function update_lists(){
        ["actor","action","object","technology","industry"].forEach(
            function(type){
                clean(type);

                $.get("/api/"+type, function(data){
                    data.forEach(function(item){
                        $('#'+type).append("<div class='row'><div class='col'>"+item.name+" <span onClick='javascript:del(\""+type+"\","+item.id+");' style='color:red;margin-left:5px;cursor:pointer;'>X</span></div></div>");
                    });
                })
            }
        )
    }

    $( document ).ready(function() {
        update_lists();
    });
</script>
{% endblock %}
